<div id="info_cont">
	<div id="name_pic">
		<h2 id='myName'>Philip Maessoumi</h2>
		<p>likes to code and wear purple.</p>
		<img src="http://i.imgur.com/mLtbLDM.jpg" title="Hosted by imgur.com"/>

</div>

<div id="content">

	<contact>
		<h3 id='contact_title'>Contact</h3>
		<ul>
			<li><a href="mailto:p.maessoumi@gmail.com">p.maessoumi@gmail.com</a></li>
			<li><a href="https://github.com/Kiyumars">Github</a></li>
			<li><a href="http://stackoverflow.com/users/3160649/kiyumars">Stack Overflow</a></li>
			<li><a href="http://ca.linkedin.com/pub/phillip-kiyumars-maessoumi/16/5ab/502">LinkedIn</a></li>
			<li><a href="https://twitter.com/kiyu_mars">Twitter</a></li>
		</ul>
</contact>

	<projects>
		<h3 id='python_projects'> Ruby on Rails projects</h3>
		<ul>
			<li><a href="http://rottencritics.herokuapp.com//">Rotten Critics</a></li>
			<li><a href="https://github.com/Kiyumars/RottenToWorse">Bad Celebs</a></li>
		</ul>
	</projects>

</div>